<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty name="logstashDest" source="logging.logstash.encoder.destination" defaultValue="localhost:5000"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashDest}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <includeCallerData>false</includeCallerData>
        </encoder>
    </appender>

    <appender name="ASYNC_LOGSTASH" class="ch.qos.logback.classic.AsyncAppender">
        <neverBlock>true</neverBlock>
        <queueSize>10240</queueSize>
        <appender-ref ref="LOGSTASH"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_LOGSTASH"/>
    </root>

    <logger name="ru.sber" level="DEBUG"/>
</configuration>